header {
  width: 100%;
  background-color: transparent;
}

.navbar__menu {
  width: calc(78rem - 30px);
  padding: 15px 20px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background: var(--navmenu-bg-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.7px);
  -webkit-backdrop-filter: blur(15.7px);
}

.navbar__menu__logo {
  width: 10rem;
}

.navbar__menu__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 23.5rem;
}

.navbar__menu__list a {
  text-decoration: none;
  color: var(--black-color);
}

@media only screen and (max-width: 1250px) {
  .navbar__menu {
    width: calc(100% - var(--mobile-box-padding) - var(--mobile-box-padding) - 40px);
  }
}

@media only screen and (max-width: 992px) {
  .navbar__menu__list {
    display: none;
  }
}
