.main__section1 {
  background-color: var(--primary-color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100svh;
  margin: 0;
  padding: 0;
}

.section1__content {
  max-width: 807px;
  text-align: center;
  padding-top: 280px;
}

.section1__content__heading {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
}

.section1__content__tagline {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.section1__btn {
  margin-top: 2rem;
}

.section1__hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section1__hero__img {
  width: calc(100% - 100px);
  height: auto;
}
