.main__section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color-dark);
}

.section1__content {
  max-width: 807px;
  text-align: center;
}

.section1__content__heading {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
}

.section1__content__tagline {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.section1__btn {
  margin-top: 2rem;
}

.section1__hero_img {
  width: calc(100% - 100px);
  height: auto;
}
