.main__section3 {
  background-color: var(--primary-color-extra-light);
  overflow: hidden;
}

.section3__wrapper {
  padding-top: 100px;
  padding-bottom: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section3__content {
  width: 520px;
  text-align: center;
}

.section3__content__heading {
  font-size: 2.25rem;
  font-weight: 600;
}

.section3__grid {
  width: 78rem;
  display: flex;
  flex-direction: row;
  margin-top: 300px;
}

.section3__grid:nth-child(odd) {
  margin-top: 400px;
  margin-bottom: 100px;
  flex-direction: row-reverse;
}

.section3__grid:nth-child(odd) .section3__img {
  left: -500px;
}

.section3__col {
  position: relative;
  flex: 1 1 50%;
}

.section3__col__heading {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.375rem;
  margin: 0;
  margin-bottom: 10px;
}

.section3__col__list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.section3__col__list li {
  background: url("../assets/check-circle.svg") left top;
  padding-left: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.section3__img {
  top: -150px;
  right: -500px;
  position: absolute;
}
