@import url("./css/variables.css");

@import url("./css/navbar.css");
@import url("./css/main.css");

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth !important;
}

.container {
  position: relative;
}

.txt__grey-900 {
  color: var(--font-grey-900);
}

.txt__grey-700 {
  color: var(--font-grey-700);
}

.txt__grey-400 {
  color: var(--font-grey-400)
}

.txt__grey-300 {
  color: var(--font-grey-300)
}

.txt__primary-dark {
  color: var(--primary-color-dark);
}

.txt__highlight {
  color: var(--secondary-color-dark);
}

.txt__white {
  color: var(--font-white-color);
}

.txt__black {
  color: var(--font-black-color);
}

.btn {
  background-color: var(--white-color);
  color: var(--primary-color-dark);
  font-weight: 500;
  padding: 12px 16px;
  font-size: 0.875rem;
  border-radius: var(--border-radius);
  border: none;
}

.btn__primary {
  background-color: var(--primary-color-dark);
  color: var(--font-white-color);
}
